@model List<Person>

<h1>People</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Additional Property</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in Model)
        {
            <tr>
                <td>@person.PersonId</td>
                <td>@person.Name</td>
                <td>@person.GetType().Name</td>
                <td>
                    @if (person is Student student)
                    {
                        <span>Student ID: @student.StudentId, Grade: @student.Grade</span>
                    }
                    else if (person is Teacher teacher)
                    {
                        <span>Teacher ID: @teacher.TeacherId, Subject: @teacher.Subject</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
